<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{tab_title}">_offline_</title>

</head>
<body>
<h1 th:text="#{page.title}">_page_title_</h1>
<form action="heart-rate-zones" method="POST">
    <label th:text="#{max_hr_label}">_max_hr_label_</label>
    <input type="number" min="100" max = "300" value="180" name="max_hr"/>
    <input type="submit" value="Start">
</form>

<p th:text="${#numbers.formatCurrency(1234.56)}">_date_</p>
</body>
</html>